/* About Me Section */
.about-me-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0rem 3rem;
  opacity: 0; /* Initially hidden for animation */
  transform: translateY(30px); /* Start slightly below */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Add visible class when scrolled into view */
.about-me-section.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Reset position */
}

.about-me-title-container {
  margin-bottom: 1rem;
}

.about-me-title {
  font-size: 1.75rem;
  color: #415d79;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
  letter-spacing: .2rem;
  margin-left: -5%;
}

.about-me-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
}

.about-me-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-image {
  width: calc(15vw + 12vh);
  height: auto;
  border-radius: 15%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me-bubble {
  background: #ffffff;
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  width: 100%;
  margin-bottom: 1rem;
}

.about-me-bubble p {
  margin: 0 0 1rem 0;
  font-size: 1.05rem;
  color: #333333;
  line-height: 1.6;
}

.about-me-bubble a {
  color: #ff3e09;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.05rem;
}

.about-me-bubble a:hover {
  text-decoration: underline;
}

.ut-link {
  color: #ff3e09;
  /* Match the default link color or adjust if your links use a different color */
}

.about-me-bubble strong {
  font-size: 1.05rem;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .about-me-container {
      flex-direction: column-reverse;
      align-items: center;
      gap: 1rem;
  }

  .about-me-image {
      width: 50%;
  }
}

@media (max-width: 768px) {
  .about-me-bubble {
    max-width: 67.5%;
    padding: 1.1rem;
  }

  .about-me-image {
      width: 70%;
  }
}

@media (max-width: 480px) {
  .about-me-title {
      font-size: 2rem;
  }

  .about-me-bubble {
      padding: 1.5rem;
  }

  .about-me-image {
      width: 80%;
  }
}
