/* Landing Page Styling */
.landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  padding: 0 5vw;
  position: relative; /* Necessary for absolute positioning of top-right icons */
}

/* Top-right icons */
.top-right-icons {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 2rem; /* Space between icons */
}

.icon {
  width: 40px; /* Slightly smaller size */
  height: 40px;
  object-fit: contain;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.icon:hover {
  transform: scale(1.2); /* Slightly smaller enlargement on hover */
}

.text-section {
  flex: 1;
  max-width: 75%;
}

.greeting {
  font-size: calc(1vw + 0.5vh);
  margin-bottom: 1rem;
  color: #555555;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
}

.name {
  font-size: calc(4vw + 2vh);
  margin: 0;
  font-weight: 1000;
  margin-bottom: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
}

.role {
  font-size: calc(1.25vw + 0.5vh);
  margin: 0.5rem 0;
  color: #ff3e09;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.description {
  font-size: calc(1vw + 0.4vh);
  color: #555555;
  margin-bottom: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
}

.cta-button {
  padding: calc(0.6vw + 0.5vh) calc(2.5vw + 0.5vh);
  font-size: calc(0.7vw + 0.5vh);
  background-color: #ff3e09;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

.cta-button:hover {
  background-color: #007bff;
  transform: translateY(-3px);
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.star-wars-image {
  width: calc(21vw + 15vh);
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  padding-right: 5%;
  padding-top: 8%;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .landing-page {
    flex-direction: column;
    justify-content: center;
  }

  .text-section {
    max-width: 90%;
    text-align: center;
  }

  .image-section {
    margin-top: 2rem;
  }

  .star-wars-image {
    width: calc(20vw + 8vh);
    max-width: 300px;
  }

  .top-right-icons {
    top: 1.25rem;
    right: 1.25rem;
  }

  .icon {
    width: 40px;
    height: 40px; /* Adjust size for smaller screens */
  }
}

@media (max-width: 768px) {
  .icon {
    width: 35px;
    height: 35px;
  }

  .star-wars-image {
    width: calc(30vw + 5vh);
    max-width: 250px;
  }
}

@media (max-width: 480px) {
  .icon {
    width: 30px;
    height: 30px;
  }

  .star-wars-image {
    width: calc(50vw + 5vh);
    max-width: 200px;
  }
}
