/* General Scaling */
html {
  font-size: 16px; /* Default font size for scaling */

}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  /* background: linear-gradient(to right, #79bbf1, #b0d9c2); Blue shades */
  background-color: #efeeee;
  /* background-color: #c7ebf0; */
  scroll-behavior: smooth;
}

section {
  padding: 5vw;
  margin: 0 auto;
  max-width: 1200px;
}
